<aside class="sidebar" aria-label="Main Navigation">
  <h2 class="logo">
    Minopus
    <img
      src="{{ url_for('static', filename='images/Favicon.png') }}"
      alt="Minopus logo"
      width="40"
      height="40"
    />
  </h2>

  <nav class="sidebar-nav">
    <ul>
      <li><a href="/">Dashboard</a></li>
      <li><a href="/chat">Chats</a></li>
      <li><a href="/friends">Friends</a></li>
      <li><a href="/tasks">Tasks</a></li>
      <li><a href="/resources">Resources</a></li>
      <li><a href="/settings">Settings</a></li>
    </ul>
  </nav>
</aside>
