{% extends 'layout.html' %} {% block content %}
<section class="welcome-card">
  <div>
    <h2>Welcome Back, Terence Kang!</h2>
    <p>You’ve done 20 hours of studying this week! Keep it up!</p>
  </div>
  <img
    src="../static/images/WomanStudying.jpg"
    alt="Studying"
    style="height: 120px"
  />
</section>

<div class="card-grid">
  <div class="card">
    <h3>Recent</h3>
    <ul>
      <li>
        <a href="resources#Biology" target="_blank">Biology_Res</a>
      </li>
      <li>
        <a href="https://www.khanacademy.org/science/chemistry" target="_blank"
          >Chemistry_Res</a
        >
      </li>
      <li>Rishit_chats</li>
    </ul>
  </div>

  <div class="card">
    <h3>Friends</h3>
    <ul>
      <li>SeanBrian6ex3</li>
      <li>Tim Wang6ex4</li>
      <li>Darwin Chan6ex2</li>
    </ul>
  </div>
</div>
{% endblock %}
