{% extends 'layout.html' %} {% block content %}
<h2>Resources</h2>

<div class="resources-container">
  <div class="resource-card" id="Maths">
    <h3>Maths</h3>
    <a
      href="https://www.khanacademy.org/math"
      target="_blank"
      class="resource-link"
      >Resources</a
    >
  </div>

  <div class="resource-card" id="Biology">
    <h3>Biology</h3>
    <a
      href="https://www.khanacademy.org/science/biology"
      target="_blank"
      class="resource-link"
      >Resources</a
    >
  </div>

  <div class="resource-card" id="Chemistry">
    <h3>Chemistry</h3>
    <a
      href="https://www.khanacademy.org/science/chemistry"
      target="_blank"
      class="resource-link"
      >Resources</a
    >
  </div>

  <div class="resource-card">
    <h3>THSC</h3>
    <a
      href="https://thsconline.github.io/s/"
      target="_blank"
      class="resource-link"
      >Resources</a
    >
  </div>
</div>

{% endblock %}
