{% extends 'layout.html' %} {% block content %}

<main>
  <h2>Settings</h2>
  <p>This is the settings page.</p>
  <a href="Login">Logout</a>
</main>

{% endblock %}

<div class="dashboard-grid">
  <aside class="sidebar">
    <div class="logo">
      <ul>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Account</a></li>
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Notifications</a></li>
        <li><a href="#">Security</a></li>
      </ul>
    </div>
  </aside>
</div>
